.product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    margin: 0 auto;
   padding:50px 50px 180px 50px;
}
.box-img{
    border: 1px solid black;
    background: #051d36;
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 30px;
	position: relative;
	border-bottom: solid #007dea 3px;
	transition: ease all 0.5s;
    
    
}
.box-img img{
    width: 100%;
}

.box-img h4 {
	color: #fff;
	padding-top: 35px;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: 500;
	transition: all 0.3s ease 0s;
	letter-spacing: 0px;
}
.box-img:hover {
	cursor: pointer;
	transform: scale(1.1);
	background: #007dea;
}